.main {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
    padding: 1em 1em 1em 1em;
}

.IA{
    background-color: lightcoral;
    width: 300px;
    height: 280px;
}
.Player{
    background-color: lightseagreen;
    width: 300px;
    height: 310px;
}

h1{
    text-align: center;
}

img {
    width: 280px;
    height: 250px;
    align-items: center;
}

div :not(.input, .lives){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    width: 300px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    width: 80px;
}

.lives{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.lives>img{
    max-width: 20px;
    max-height: 20px;
}