.card {
    border: 4px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.texts{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.s {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img{
    max-width: 150px;
    max-height: 150px;
}

* {
    border-radius: 10px;
    max-width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
